.banner {
	text-align: center;
}

.descTitle {
	text-align: center;
}

.submenuOpen {
	background: #0068af;
}

#description {
	display: inline-block;
}

#horizontal {
	width: 200px;
	height: 20px;
}

#illusion1Canvas {
	width: 100%;
	height: 400px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
}

#profilePic {
	/*height: 10em;*/
}

#submenu {
	width: 100%;
	height: 20em;
	min-height: 2em;
	max-height: 10em;
	margin-top: 1px;
	border-width: 2px;
	border-color: #fff;
	background: #0068af;
	display: inline;
}

#tResult {
	font-size: 18px;
	font-weight: bold;
}

#vertical {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 2.0s;
}