br {
	height: 1px;
}

.banner {
	text-align: center;
}

.container{
	background-color: #34495E;
	text-align: center;
	margin: 1em 3em;
	border-radius: .4em;
	display: flex;
	padding-bottom: 1em;
}

.container2{
	background-color: #34495E;
	text-align: center;
	margin: 1em 3em;
	border-radius: .4em;
	display: flex;
	padding-bottom: 1em;
}

.descTitle {
	text-align: center;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h6 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.hourButton {
	margin-top: 10%;
	display: inline-block;
	width: 42%;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #0068af;
	color: #fff;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

.minuteButton {
	margin-top: 10%;
	display: inline-block;
	width: 42%;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #0068af;
	color: #fff;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

.secondButton {
	margin-top: 10%;
	margin-left: 23%;
	width: 45%;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	background-color: #0068af;
	color: #fff;
	text-align: center;
	font-size: 24px;
	cursor: pointer;
}

.resetButton {
	margin-top: 100%;
	width: 90%;
	height: 100px;
	line-height: 100px;
	border-radius: 25px;
	background-color: #0068af;
	color: #fff;
	text-align: center;
	font-size: 32px;
	cursor: pointer;
}

#datePickerAlign {
	text-align: left;
}

#description {
	display: inline-block;
}

#map {
	/* for demonstrative purposes on projector
	width: 900px;
	height: 750px;
	*/
	/* for laptops */
	width: 700px;
	height: 550px;
	/*------------*/
	margin-top: 10px;
}

/* Input radios */
#topLeftInput {
	margin-left: 10px;
}

#topRightInput {
	margin-left: 10px;
}
