.dormName {
	color: #000;
	border-right: solid;
	border-right-color: #000;
	border-right-width: 1px;
	/*margin-left: -25px;*/
	text-align: left;
	line-height: 2em;
}

.wrapperDiv {
	border: solid;
	border-width: 1px;
	border-color: #000;
	background-color: #d3d3d3;
}

#submenu {
	width: 100%;
	height: 20em;
	min-height: 2em;
	max-height: 10em;
	margin-top: 1px;
	border-width: 2px;
	border-color: #fff;
	background: #0068af;
	display: inline;
}